@model UpdateGuestDto
@{
    ViewData["Title"] = "UpdateGuest";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="GuestID"/>
    <label>Müşteri Adı</label>
    <input type="text" class="form-control input-rounded" asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />
    <label>Müşteri Soyad</label>
    <input type="text" class="form-control input-rounded" asp-for="Surname" />
    <span asp-validation-for="Surname" class="text-danger"></span>
    <br />
    <label>City</label>
    <input type="text" class="form-control input-rounded" asp-for="City" />
    <span asp-validation-for="City" class="text-danger"></span>
    <br />
    <button class="btn mb-1 btn-rounded btn-outline-success">Müşteriyi Güncelle</button>
</form>






