@model HotelProjectUI.Dtos.BookingDto.UpdateBookingDto
@{
    ViewData["Title"] = "UpdateBooking";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Rezervasyon Güncelleme Sayfası</h1>

<form method="post">
    <input type="hidden" asp-for="BookingID" />
    <label>Misafir Adı Soyadı</label>
    <input type="text" class="form-control input-rounded" asp-for="Name" />
    <br />
    <label>Misafir Mail Adresi</label>
    <input type="text" class="form-control input-rounded" asp-for="Mail" />
    <br />
    <label>Misafir Giriş Tarihi</label>
    <input type="date" class="form-control input-rounded" asp-for="Checkin" />
    <br />
    <label>Misafir Çıkış Tarihi</label>
    <input type="date" class="form-control input-rounded" asp-for="CheckOut" />
    <br />
    <label>Yetişkin Sayısı</label>
    <input type="text" class="form-control input-rounded" asp-for="AdultCount" />
    <br />
    <label>Çocuk Sayısı</label>
    <input type="text" class="form-control input-rounded" asp-for="ChildCount" />
    <br />
    <label>Oda Sayısı</label>
    <input type="text" class="form-control input-rounded" asp-for="RoomCount" />
    <br />
    <label>Şehir</label>
    <input type="text" class="form-control input-rounded" asp-for="City" />
    <br />
    <label>Ülke</label>
    <input type="text" class="form-control input-rounded" asp-for="Country" />
    <br />
    <label>Durum</label>
    <input type="text" class="form-control input-rounded" asp-for="Status" />
    <br />
    <label>Özel İstekler</label>
    <textarea class="form-control" rows="5" asp-for="SpecialRequest"></textarea>
    <br />
    <label>Açıklama</label>
    <textarea class="form-control" rows="5" asp-for="Description"></textarea>
    <br />
    <button class="btn mb-1 btn-rounded btn-outline-success">Rezervasyonu Güncelle</button>
</form>

