@model List<ResultServiceDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<style>
    .bold {
        color: black;
    }
</style>
<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Hizmet Başlığı</th>
            <th>Güncelle</th>
            <th>Kaldır</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="bold">@item.ServiceID</td>
                <td class="bold">@item.ServiceTitle</td>
                <td><a href="/Service/UpdateService/@item.ServiceID" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a> </td>
                <td><a href="/Service/DeleteService/@item.ServiceID" class="btn mb-1 btn-rounded btn-outline-danger">Kaldır</a> </td>
            </tr>
        }
    </table>
</div>
<a href="/Service/AddService/" class="btn mb-1 btn-rounded btn-outline-secondary">Yeni Hizmet Girişi</a>






